*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body{
    display: grid;
    height: 100%;
    place-items: center;
    background-image: url(./bayc-mutant-hero.webp);
   
    position: relative;
    top: 265px;
}
.container{
    
    height: 100px;
    width: 360px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 10px;
    animation-name: shine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes shine{
    0%,100%{
        box-shadow: 0px 0px 32px -12px rgba(246, 180, 0, .5);
    }
    50%{
        box-shadow: 0px 0px 32px 3px rgba(246, 180, 0, .5);
    }
}
.container .display{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: #1b1b1b;
    height: 85px;
    width: 345px;
    border-radius: 6px;
    text-align: center;
    
}
.container .display span{
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    
    
    
}